:root {
    /*Colores Secundarios*/
    --azul-oscuro: #0071B3;
    --azul-oscuro-2: #0076BA;
    --azul: #0091E6;
    --azul-claro: #57B1E6;
    --fondo-azul-claro: #D1EEFF;

    /*Neutrales*/
    --negro: #1D1F1F;
    --neutro-1: #5D5F5F;
    --neutro-2: #B6B8B8;
    --neutro-3: #E3E3E3;
    --neutro-4: #F4F4F5;
    --blanco: #FFFFFF;

    /*Para acentuar*/
    --acento-naranja: #E68300;
    --acento-naranja-2: #FF9C19;
    --acento-desire: #eb3b5a;
}

.nav-link {
    color: var(--negro);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--azul-oscuro);
}

.bg-secundario {
    background-color: var(--acento-desire) !important;
    color: var(--blanco);
}

.btn-outline-principal {
    color: var(--azul);
    border-color: var(--azul);
}

.btn-outline-principal:hover {
    color: #fff;
    background-color: var(--azul-oscuro-2);
    border-color: var(--azul-oscuro-2);
}

.btn-check:focus+.btn-outline-principal,
.btn-outline-principal:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}

.btn-check:checked+.btn-outline-principal,
.btn-check:active+.btn-outline-principal,
.btn-outline-principal:active,
.btn-outline-principal.active,
.btn-outline-principal.dropdown-toggle.show {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-check:checked+.btn-outline-principal:focus,
.btn-check:active+.btn-outline-principal:focus,
.btn-outline-principal:active:focus,
.btn-outline-principal.active:focus,
.btn-outline-principal.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem var(--azul-claro);
}

.busqueda {
    max-width: 70%;
}

.nav-toggle {
    color: var(--negro);
    background-color: none;
    border: none;
    display: none;
}

@media(max-width: 768px) {
    .navbar-brand img{
        width: 60px;
    }

    .navbar{
        padding-bottom: 8px;
    }

    .busqueda input, .busqueda button{
        font-size: 14px;
    }

    .nav-toggle {
        display: inline;
    }

    .nav-busqueda {
        min-width: 576px;
    }

    .nav-colapsada-vertical {
        border: red dotted 2px;
        position: fixed;
        left: 0;
        top: 59px;
        width: 100%;
        font-size: 14px;
        background-color: var(--neutro-4);
    }
}